<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" amp>

{{ partial "head" . }}

<body class="my-serif">
    {{ if not (eq .Kind "home") }}
    <nav>
        <a class="f6 br-pill ba pv3 ph4 ma3 dib color-inherit hover-bg-my-color no-underline" href="/">&larr; Home</a>
    </nav>
    {{ end }}
    <div id="content" class="">
        {{ block "main" . }}{{ end }}
    </div>
    {{ if not (eq .Kind "404") }}
    {{ partial "footer" . }}
    <script type="application/ld+json">
        {{ partial "search-gallery" . | safeJS }}
    </script>
    {{ end }}
    <amp-install-serviceworker src="/serviceworker.js" layout="nodisplay">
    </amp-install-serviceworker>
</body>

</html>