{{ define "main" }}
<div class="mw7 center">
    <div class="tc pv2 pv4-m pv5-l bb b--my-border-color">
        <amp-img layout="fixed" width="100" height="100" class="br-100" src="/apple-touch-icon.png"></amp-img>
        <h1 class="normal my-sans-serif f1 mv3">
            {{ .Title }}
        </h1>
        <h2 class="normal">
            {{ .Content }}
        </h2>
    </div>
        {{ $paginator := .Paginate (.Site.RegularPages.ByPublishDate.Reverse) 5 }}
        {{ range $paginator.Pages }}
        <div class="w-90 w-80-ns center pv2 pv4-m pv5-l mt3 bb b--my-border-color ph2 ph3-m ph5-l">
            {{ .Render "li"}}
        </div>
        {{ end }}
        <div class="w-80 center pv2">
        {{ partial "pagination" . }}
        </div>
</div>
{{ end }}