<table class="w-auto">
    <tbody>
    {{ range sort .Site.Data.footprint.footprint "title" "desc" }}
    <tr class="border-b border-gray-200 dark:border-gray-700">
        <td class="">
            <span class="flex items-center space-x-2">
                <img alt="{{substr .name 0 2}}" src="{{ .image }}" width="20" height="20" class="rounded">
                <span class="text-gray-900 dark:text-gray-100">{{ .name }}</span>
            </span>
        </td>
        <td class="align-middle">
            <a rel="nofollow noreferrer" target="_blank" href="{{ .url }}" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 transition-colors">
                {{ .title }}
            </a>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>